body {
  background-color: white;
}

* {
  box-sizing: border-box;
}

#popup {
  display: none;
}

#popup img{
  border: solid 10px #924cf6;
  border-radius: 5px;
}

.popup__wrapper {
  background: rgba(0, 0, 0, .75);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.popup__container {
  background: transparent;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 100px auto;
  max-width: 100%;
  padding: 20px;
  width: 500px;
}

.popup__title {
  font-size: 50px;
  margin-bottom: 15px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  color: white;
  text-shadow: 4px 0 0 black;
}
