@import "../components/carousel";
@import "../components/bookingCard";
@import "../components/reviews";

.container-title-show {
  display: flex;
  padding: 50px;
}

.show-container {
  background-color: transparent;
}

.show-container h1 {
  color: #924cf6;
}

.show-container h3 {
  color: #924cf6;
  opacity: 0.5;
}



.show-container .btn {
  color: white;
  background-color: #924cf6;
  border-color: #924cf6;
}

.planet-head {
  align-items: center;
}

.planet-head h1 {
  margin-right: 30px;
  padding: 10px;
  margin-top: 30px;
  color: #924cf6;
  font-family: 'Orbitron', sans-serif;
}

#planet-name {
  margin-bottom: 30px;
  text-align: center;
  color: #924cf6;
  text-shadow: none;
  font-size: 70px;
  font-weight: bold;
}

#fa-meteor-show {
  font-size: 40px;
}

.fa-map-marker-alt, .fa-cloud-sun, .fa-file-alt{
  margin-right: 10px;
}

.bottom-separation {
  text-align: left;
}

#last {
  text-align: left;
  margin-left: -20px;
}


