<div class="banner parallax">
  <div class="container">
    <h1>Planet Invaders</h1>
    <div class="search_bar">
        <%= form_tag search_path, method: :get do %>
          <%= text_field_tag :search %>
          <%= submit_tag 'Search', name: nil %>
        <% end %>
      </div>
    <a href="#midlle" id="meteor"><i class="fas fa-meteor"></i></a>
  </div>
</div>
