<div class="_banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallpaperaccess.com/full/84303.jpg); height: 100%; padding: 20%; background-position: center;">
  <div class="container">
    <h1>Planet Invaders</h1>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search" id="search_query">
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search" aria-hidden="true"></i> Search
        </button>
        <a id="meteor"><i class="fas fa-meteor"></i></a>
        <a href="#" id="middle"><i class="fas fa-meteor"></i></a>
      </div>
  </div>
</div>
