<div class="banner parallax">
  <div class="container-main">
    <h1>Planet Invaders</h1>
    <div class="container-search-block">
      <div id="search-bar" placeholder="Try « Coruscant »">
        <%= form_tag planets_path, method: :get do %>
          <%= text_field_tag :search,
            params[:search] %>
          <div class="container-btn">
            <%= submit_tag 'Search', name: nil, id: "btn-search" %>
            <%= link_to "All planets", planets_path, id: "btn-search-planet" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
