<div class="banner parallax">
  <div class="container">
    <h1>Planet Invaders</h1>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search" id="search_query">
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search" aria-hidden="true"></i> Search
        </button>
        <a href="#" data-text="black mirror" id="meteor"><i class="fas fa-meteor"></i></a>
      </div>
  </div>
</div>
