<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/AntoineMassoni/planet-invader"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/thehubblescope/?"><i class="fab fa-instagram"></i></a>
    <a href="https://lab.nstmf.org/gravity/"><i class="fas fa-globe"></i></a>
    <a href="https://stars.chromeexperiments.com/"><i class="fas fa-satellite"></i></a>
  </div>
</div>
