<%= render 'shared/banner' %>
  <div class="container" id="midlle">
    <h1>Best rating planets</h1>
      <div class="row">
        <% @planets.each do |planet| %>
          <div class="col-xs-12 col-md-6">
            <%= render 'shared/card', planet: planet %>
          </div>
      <% end %>
    </div>
  </div>

  <div class="container" id="bottom">
    <h1>Recently added</h1>
      <div class="row">
        <% @new_planets.each do |planet| %>
          <div class="col-xs-12 col-md-6">
            <%= render 'shared/card', planet: planet %>
          </div>
      <% end %>
    </div>
  </div>

