<%= render 'shared/banner' %>
  <div class="container" id="midlle">

 <!--    <div id="exit" class="popup-overlay" style="">
      <div class="outer">
          <div class="middle">
            <div class="popup" style="background-image: url(https://media1.giphy.com/media/xT8qBhrlNooHBYR9f2/giphy.gif);"></div>
          </div>
      </div>
   </div> -->

    <h1>Best rating planets</h1>
      <div class="separator">
        <div class="wrapper"></div>
      </div>
        <div class="row">
          <div class="col-md-12">
            <%= render 'shared/card', planet: @planet %>
          </div>
      </div>
    </div>




    <div class="container" id="bottom">
      <h1>Recently added</h1>
      <div class="separator">
        <div class="wrapper"></div>
      </div>
        <div class="row">
          <div class="col-md-12">
            <%= render 'shared/card', planet: @planet %>
          </div>
        </div>
    </div>

