<%= render 'shared/banner' %>


<!-- <input type="button" onClick="displayImg()" value="Display Random Image">

<div id="popup" class="popup__wrapper">
  <div class="popup__container">
    <img src="https://media3.giphy.com/media/3ornka9rAaKRA2Rkac/giphy.gif" alt="">
    <h1 class="popup__title">GOOD BYE</h1>
    <p></p>
  </div>
</div>


 -->
