

<div class="container">
  <div class="user_card">
    <%= current_user.first_name %>
    <%= current_user.last_name %>
    <%= current_user.phone_number %>
    <%= current_user.email %>
    <p>Change password</p>
  </div>
  <div class="planets_card">


  </div>
  <div class="bookings">

  </div>


</div>

