.banner {
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallpaperaccess.com/full/84303.jpg);
  padding: 15%;
  background-position: center;
  text-align-last: center;
}

.parallax {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search_bar {
 text-align-last: center;
}
