.banner {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.35)), url(https://wallpaperstock.net/wallpapers/thumbs1/42093wide.jpg);
  padding: 20%;
  -moz-text-align-last: center;
  text-align-last: center;
  margin-bottom: -30px;
  border-bottom: solid 1px rgba(250, 250, 250, 0.5)
}

.banner h1 {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 120px;
  font-weight: bold;
}

.parallax {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-main{
  padding: 28px;
}

.container-btn {
  display: flex;
  justify-content: center;
  align-content: center;
  text-decoration: none;
}

#search-bar {
  font-size: 40px;
}

#search {
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(250, 250, 250, 0.5);
  padding: 5px;
}


#btn-search{
  color: black;
  background-color: white;
  padding: 5px;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 5px;
  flex: auto;
  margin: 5px 5px 5px 0;
  font-weight: semi-bold;
}

#btn-search-planet{
  text-decoration: none !important;
  color: black;
  background-color: white;
  padding: 5px;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 5px;
  flex: auto;
  margin: 5px 0 5px 5px;
  font-weight: semi-bold;
}

#btn-search:hover , #btn-search-planet:hover {
  transition: 0.5s;
  background-color: transparent;
  color: white;
}
