.booking-card {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  position: sticky;
  top: 100px;
}

.planet-infos {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  height: 5000px;
}

.show-container {
  width: 90vw;
  margin: 0 auto;
}

.bottom-separation {
  border-bottom: 1px solid rgba(43, 45, 46, 0.4);
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 20px;
}

.category h3 {
  font-weight: bold;
}

.category {
  text-align: center;
}

.category p {
  color: black;
  font-size: 16px;
}

#booking-form-div {
  color: black;
  font-size: 16px;
}

.rating {
  text-align: left;
}
