.booking-card {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  border: 1px solid lightgrey;
  border-radius: 0px;
}

.planet-infos {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
}

.planet-infos p {
  margin-left: 40px;
}

.show-container {
  width: 90vw;
  margin: 0 auto;
}

.bottom-separation {
  border-bottom: 1px solid lightgrey;
  margin-left: -20px;
  margin-right: -20px;
}

.category h3 {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}

.category {
  text-align: center;
  padding: 20px;
}

.category p {
  color: black;
  font-size: 16px;
  font-family: 'Orbitron', sans-serif;
}

#booking-form-div {
  color: black;
  font-size: 16px;
}

.rating {
  text-align: left;
}

.form-container {
  width: 70%;
  margin: 0 auto;
}


.edit-card {
  text-align: center;
}
