.navbar-lewagon {
  font-family: 'Orbitron', sans-serif;
  background: #000000;
  color: #924cf6;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 40px;
  font-size: 20px;
  font-size: semi-bold;
  margin-top: -17px;
  border-bottom: solid 1px rgba(250, 250, 250, 0.5)
}

.navbar-lewagon a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 32px;
  background-color: black;
}

.navbar-lewagon a:hover {
  color: #924cf6;
  opacity: 0.5;
}

.navbar-lewagon .fas:hover {
  color: #924cf6;
  opacity: 0.5;
}

.nav-lewagon a {
  color: #924cf6;
  text-decoration: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-link {
  color: white;
}

.nav-item {
  background-color: black;
}

.fa-space-shuttle {
  font-size: 40px;
  transform: rotate(330deg);
  color: white;
}

.fa-space-shuttle:hover {
  color: rgba(255, 255, 255, 0.5);
}
