.navbar-lewagon {
  background: #000000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 40px;
  font-size: 20px;
  font-size: semi-bold;
  margin-top: -17px;
}

.nav-lewagon a {
  text-decoration: none;
}

.navbar-nav mr-auto {
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-link {
  color: white;
}
