.planet_card {
  background-color: white;
  border-radius: 15px;
  margin-bottom: 20px;
  // min-height: 540px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  // border: solid 0.5px lightgrey;
}

.show-container a:hover{
  text-decoration: none;
}

.planet_card img {
  width: 100%;
  object-fit: cover;
  height: 230px;
  border-top-left-radius:10px;
  border-top-right-radius: 10px;
}

.planet_name {
  font-family: 'Orbitron', sans-serif;
  color: #2b2d42;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.planet_body {
  height: 200px;
}

#container-bloc-text {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 10px 0;
}

#container-bloc-text .btn {
  margin-left: auto;
}

.planet_description {
  font-family: 'Orbitron', sans-serif;
  color: black;
  font-size: 16px;
  min-height: 200px;
  text-align: center;
  padding: 5px;
}

.planet_infos {
  height: 100px;
  background-color: #542993;
  align-items: center;
  border-bottom-left-radius:10px;
  border-bottom-right-radius: 10px;
}

.one-third  {
  color: white;
  text-align: center;
  font-size: 16px;
  width: 33%;
}

.one-third .stat {
  color: white;
  font-size: 24px;
  font-weight: bold;
}


.separation-around {
  border-left: 1px solid #8d99ae;
  height: 100%;
  // border-left: 3px solid #8d99ae;
}
