.planet_card {
  background-color: white;
  border-radius: 15px;
  // height: 100%;
  margin-bottom: 20px;
  min-height: 540px;
  flex-direction: column;
  justify-content: space-between;
}

.planet_card img {
  width: 100%;
  object-fit: cover;
  height: 230px;
  border-top-left-radius:10px;
  border-top-right-radius: 10px;
}

.planet_name {
  color: #2b2d42;
  font-weight: bold;
  font-size: 25px;
}

.planet_name, .planet_description {
  text-align: center;
  padding: 15px;
}

.planet_description {
  color: black;
  font-size: 16px;
  // height: 150px;
}

.planet_infos {
  height: 100px;
  background-color: #2b2d42;
  align-items: center;
  border-bottom-left-radius:10px;
  border-bottom-right-radius: 10px;
}

.one-third  {
  text-align: center;
  font-size: 16px;
  width: 33%;
}

.one-third .stat {
  font-size: 24px;
  font-weight: bold;
}


.separation-around {
  border-left: 1px solid #8d99ae;
  height: 100%;
  // border-left: 3px solid #8d99ae;
}
