.score {
  display: block;
  font-size: 16px;
  position: relative;
  overflow: hidden;
}

.score-wrap {
  display: inline-block;
  position: relative;
  height: 19px;
}

.score .stars-active {
  color: #EEBD01;
  position: relative;
  z-index: 10;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.score .stars-inactive {
  color: grey;
  position: relative;
  z-index: 10;
    display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  -webkit-text-stroke: initial;
  /* overflow: hidden; */
}
