.name p {
  font-family: 'Orbitron', sans-serif;
  font-size: 24px;
  color: black;
}

.review {
  padding: 20px;
  background-color: rgba(230, 230, 230, 0.4);
  border-radius: 4px;
}

.review-infos {
  align-items: center;
  justify-content: space-between;
}

.content {
  text-align: left;
}

.review-content {
  justify-content: space-between;
  align-items: end;
}


.user-modif i {
  color: black;
  font-size: 16px;
}


.edit-container {
  width: 50vw;
  height: 77vh;
  margin: auto;
  border-radius: 4px;
  padding: 20px;
  margin-top: 20px;
  color: white;
  font-size: 16px;
}

.edit-container h1 {
  text-align: center;
  font-weight: bold;
  color: white;
}
