// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";
@import "components/rating";
@import "pages/new";
@import "pages/dashboard";

body {
  background-image: url(https://wallpaperaccess.com/full/340541.jpg);
  background-size: cover
}

.button {
  color: white;
  background-color: #924cf6;
  border: solid 1px #924cf6;
  border-radius: 5px;
  padding: 10px;
  font-weight: 600;
  margin: auto;
  text-decoration: none;
  margin: 5px;
}

a:hover {
  text-decoration: none;
}

.button:hover {
  color: white;
  text-decoration: none;
  transition: 0.5s;
  opacity: 0.5;
}
